@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Content/jquery-3.3.1.js"></script>
</head>
<body>
    <div>
        <input type="button" value="抓取图片" onclick="loadImages()">
    
    </div>
</body>
</html>
<script>

    //抓取图片
    function loadImages() {
        $.ajax({
            url: '',
            type: 'Get',
            success: function () {

            }
        })
    }


</script>